/* Style for the Table of Planets */
h1 {
	text-align: center;
}

table {
	  border-collapse: collapse;
	  margin:auto;
}
table th {
  text-align: left;
  background-color: #3a6070;
  color:#FFF;
  padding:10px 50px 10px 8px;
}
table td{
  border: 1px Solid #e3e3e3;
  padding: 4px 8px;
}

/* Set background color for every other row */
table tr:nth-child(odd) td {
  background-color: #e7edf0;
}
